.receiver-video {
    background-color: #000000;
    height: 100%;
    width: 100%;
    position: relative;
}

.receiver-video-container {
    position: absolute;
    height: 100%;
}

.receiver-video-container video {
    height: 351px;
    margin: 0 auto;
}

.waiting-for-connection {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    /* bottom: 0; */
    text-align: center;
    top: 38px;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

p.connecting-text {
    color: #fff;
    font-size: 20px;
}