.site-footer {
    background-color: #134b90;
    min-height: 80px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.site-footer span {
    line-height: 80px;
    font-size: 14px;
}

.footer {
    margin-top: auto;
}

.support a {
    color: #ffa724;
}

@media only screen and (max-width: 600px) {
    .site-footer span {
        line-height: 0px;
        font-size: 12px;
    }
}