.user-profile-stats {
    display: flex;
    justify-content: space-between;
    padding: 11px;
}

.user-profile-stats:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}

span.title {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    span.title {
        font-size: 16px;
        font-weight: bold;
    }
}