section.people-collection {
    padding: 40px 0;
    height: 77.5vh;
    background-color: #fff;
    position: relative;
    margin-top: 17px;
}

.loading-circle-spinner {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

p.loading-text {
    font-size: 20px;
}